<!DOCTYPE html>

<html lang="ru">

	<head>

		<meta charset="utf-8">

		<title>Home</title>

		<link rel="stylesheet" href="/bundle.css">
	</head>

	<body>
		<div id="app">
			<header>
				<nav>
					<div v-for="route in $router.options.routes" :key="route.name">
						<router-link
							v-if="!route.hidden"
							:to="route.path">{{ route.title }}</router-link>
					</div>
				</nav>
			</header>

			<hr noshade style="margin: 3em" />

			<div>
				<router-view @message-saved="haveMessage">{{ this.messages }}</router-view>
			</div>

		</div>

	</body>


	<script src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js"></script>

	<script src="/main.js"></script>

</html>
