<!DOCTYPE html>

<html lang="ru">

	<head>

		<meta charset="utf-8">


		<title>Home</title>


		<style media="screen">
			.strike {
				text-decoration: line-through;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header>
				<nav>
					<ul>
						<li>
							<a href="#" @click="switchView('l1')">Less. 1</a>
						</li>
						<li>
							<a href="#" @click="switchView('l2')">Less. 2</a>
						</li>
						<li>
							<a href="#" @click="switchView('l3')">Less. 3</a>
						</li>
						<li>
							<a href="#" @click="switchView('l4')">Less. 4</a>
						</li>
						<li>
							<a href="#" @click="switchView('l9')">Часть 9 - Создание событий</a>
						</li>
					</ul>
				</nav>
			</header>

			<div>
				<component :is="currentView" @message-saved="workDone">{{ messages }}</component>
			</div>

		</div>

		<template id="raw">
			<div>
				<pre><slot></slot></pre>
			</div>
		</template>

		<template id="l1">
			<div>
				<raw>{{ $data }}</raw>
				<hr>

				<h1>{{ message }}</h1>

				<input type="text" v-model="message" />
			</div>
		</template>

		<template id="l2">
			<div>
				<raw>{{ $data }}</raw>
				<hr>
				<ul>
					<li
						v-for="bear in bearsOrdered"
						v-bind:class="{ 'strike': bear.status }">{{ bear.name }}, {{ bear.age }}</li>
				</ul>
			</div>
		</template>

		<template id="l3">
			<div>
				<raw>{{ $data }}</raw>
				<hr>
				<input type="text" v-model="message" @keyup.13.prevent="onClick" />

				<form action="">
					<button type="button" @click.prevent="onClick">пынь</button>
				</form>
			</div>
		</template>

		<template id="l4">
			<div>
				<raw>{{ $data }}</raw>
				<hr>
				<form>
					<span>{{ count }} / 30</span><br>
					<textarea v-model="text">{{ text }}</textarea><br>
					<button v-if="count <= 30" type="button">тыдыщщ</button>
				</form>
			</div>
		</template>

		<template id="l9">
			<div>
				<raw>{{ $data }}</raw>
				<hr>
				<input type="text" v-model="message" @keyup.enter="saveMessage" />
				<div>
					<pre><slot></slot></pre>
				</div>

			</div>
		</template>
	</body>


	<script src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js"></script>

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<script src="main.js"></script>
</html>
