
:root {
	/*
	F7DB15
	FEFCAE
	*/
	--hover-color: #ffffba;

	--border-color: #cccccc;
}

div#app {
	max-width: 65rem;
}

body {
	padding: 2rem;
}

img {
	display: block;
}

/* ----------------------------------------------------------------------- */

a {
	text-decoration: none;
	color: #113569;
	/*
	1B55C0
	926aa6
	064a89
	*/
}

a:visited {
	color: #113569;
}

a:hover {
	color: darkred;
	text-decoration: underline;
}

a[role=button] {
	text-decoration: none;
}

a[role=button]:hover {
	text-decoration: none;
}

/* ----------------------------------------------------------------------- */

div.hr {
	width: 100%;
	height: 1px;
	border-top: 1px solid var(--border-color);
	margin: 1rem 0;
}

/* ----------------------------------------------------------------------- */


.router-link-active {
	font-weight: bold;
}

pre {
	margin: 0;
}

.oid {
	color: gray;
	font-size: smaller;
}

.oid input {
	border: none;
	color: gray;
}
